@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Travel_Trip_Project.Models.Siniflar.Blog>

@{
    ViewBag.Title = "Blog Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4">Blog Listesi</h2>
<br />



<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 20%;">BLOG BAŞLIĞI</th>
                <th style="width: 50%;">AÇIKLAMA</th>
                <th style="width: 10%;">GÖRSEL</th>
                <th style="width: 20%;">İŞLEMLER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>
                        @if (item.Description.Length > 150)
                        {
                            @item.Description.Substring(0, 150)
                        }

                        else
                        {
                            @item.Description
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.BlogImage))
                        {
                            <img src="@item.BlogImage" alt="Blog Görseli: @item.Title" class="img-thumbnail" />
                        }
                        else
                        {
                            <span class="text-muted">Görsel Yok</span>
                        }
                    </td>

                    <td>
                        <a href="/AdminBlog/DeleteBlog/@item.ID" class="btn btn-danger" onclick="return confirm('Emin misiniz?')">Sil</a>
                        <a href="/AdminBlog/UpdateBlog/@item.ID" class="btn btn-warning">Düzenle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<a href="/AdminBlog/AddBlog/" class="btn btn-primary mt-3">Yeni Blog Ekle</a>
