@model Travel_Trip_Project.Models.Siniflar.Hotel

@{
    ViewBag.Title = "Hotel Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:20px">Hotel Güncelle</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ImageUrl)
        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-warning">Güncelle</button>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
